.page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 25px;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
    background-image: url('/logo-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Adjust this value between 0 and 1 */
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .page {
        height: 100vh;
        padding: 0;
    }
    .title {
        background-size: cover;
    }
    .quinielaName {
        width: 110px;
    }
}

.title {
    background-image: url('/nobg-title.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 105px;
    width: 100%;
    padding-top: 10px;
}

.title h2 {
    font-size: calc(1.5rem + .9vw);
    font-weight: bold;
    color: #FFF;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: center;
    padding-top: .7rem;
    font-style: italic;
    font-family: "Shrikhand", serif;
    text-shadow:
    1px 1px 0 #000, /* Sombra inferior derecha */
    -1px 1px 0 #000, /* Sombra inferior izquierda */
    -1px -1px 0 #000, /* Sombra superior izquierda */
    1px -1px 0 #000; /* Sombra superior derecha */
}

.title div {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.title span {
    font-size: 0.85rem;
    color: #FFF;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    text-shadow:
    1px 1px 0 #000, /* Sombra inferior derecha */
    -1px 1px 0 #000, /* Sombra inferior izquierda */
    -1px -1px 0 #000, /* Sombra superior izquierda */
    1px -1px 0 #000; /* Sombra superior derecha */
}

.mobileLigaMx {
    padding: 0 10px;
}

.spanNumber {
    position: absolute;
    left: 4px;
    font-size: 0.65rem;
    margin-top: 7px;
}

.marcador {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 2px 6px;
    font-weight: bold;
    display: inline-block;
    width: 30px;
}

.team {
    border: 1px solid #000;
    background-color: #03939A;
    border-radius: 10px;
    display: inline-block;
    width: 110px;
    min-width: 110px; /* Minimum width to maintain consistency */
    max-width: 150px; /* Maximum width to prevent too wide cells */
    color: #FFF;
    font-size: .8rem;
    padding: 4px 8px;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* Modern alternative to word-wrap */
    text-align: center;
    line-height: 1.2;
}

.nameInput {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #000;
    margin: 15px 0;
    padding: 10px;
    text-align: start;
}

.nameInput label {
    font-weight: bold;
}

.nameInput input {
    border: none;
}

.buttonGroup :global(button) {
    width: 100%;
    max-width: 400px; /* Adjust based on design needs */
}

.quinielaName {
    max-width: 100%;
    display: inline-block;
    text-align: left;
}

.footer {
    background-color: #03939A;
    border-radius: 20px 20px 0 0;
    padding: 15px 20px;
}

.instructions ul {
    padding: 0 20px;
}

.instructions p {
    font-size: 0.9rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    margin-bottom: 10px;
}

.instructions li{
    list-style: decimal;
    font-size: 0.8rem;
    text-align: start;
    color: #FFF;
}

.instructions span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    margin-top: 15px;
}
